<% include header %>

    <div class="intro">
        <h1>De Ceuvel Aquapolics</h1>
        <p>Welkom op de website van het Aquapolics systeem van De Ceuvel. Op deze website kan je alles leren over het Aquapolics systeem, en hoe de verschillende variabelen invloed hebben op het systeem.</p>
        <a href="tank">Start tour</a>
    </div>

<% include footer %>