<% include header %>

    <h1>De Ceuvel Aquapolics</h1>
    <h2>Kies een gebruikersnaam</h2>

    <form>
        <input type="text" class="usernameInput">
        <button type="submit" class="submitUsername">submit</button>
    </form>

<% include footer %>