<% include ../header %>

<div class="intro">
    <h1>Dat ging goed...</h1>
    <p>Je weet nu hoe het goed gaat, maar in een gesloten systeem kan er ook een hoop fout gaan.</p>
    <p>Afhangend van een aantal factoren kunnen er een hoop dingen veranderen. Jij kan straks deze factoren aanpassen, en je ziet dan direct wat voor invloed dit heeft op het systeem.</p>
    <a href="../verander/tank">Begin</a>
</div>

<% include ../footer %>