<% include ../header %>

    <main class="tank">
        <img src="images/fish.png">
        <img src="images/fish.png">
        <img src="images/fish.png">
        <img src="images/fish.png">
        <img src="images/fish.png">
        
        <div class="info">
            <h1>Vissen</h1>
            <p>De vissen (Afrikaanse Meervallen) krijgen te eten met de hand. Ze zitten met 30 stuks in een tank. De Afrikaanse Meerval houdt er van om met zijn velen bij elkaar te zitten in een donkere tank.</p>
            <p>Wanneer de vissen gezond zijn en goed eten scheiden zijn ammonia uit. Ammonia is zeer giftig, en wordt daarom uit het water gefilterd.</p>
            <a href="#tank2">Volgende</a>
        </div>
    </main>

    <div id="tank2">
        <div class="info">
            <h2>Ammonia</h2>
            <p>De ammonia wordt gefilterd van de vissen, en wordt in een aparte tank opgeslagen.</p>
            <p>Ammonia is een kleurloze stof, maar het is enorm giftig voor de vissen wanneer het in te hoge concentratie in het water zit.</p>
            <p>Het water van deze tank gaat, samen met de ammonia, naar de planten.</p>
            <a href="plant">Naar planten</a>
        </div>
    </div>

    <script src="script/tank.js"></script>
    
<% include ../footer %>