<% include ../header %>

<main class="plant" id="top">
    <div class="info">
        <h1>Planten</h1>
        <p>De planten ontvangen het water samen met de ammonia van de vissen.</p>
        <p>De planten in de kassen worden gebruikt door het restaurant om gerechten te maken.</p>
        <a href="#bacteria">Lees meer</a>
    </div>
    <img class="drop" src="../images/drop.png">
    <div class="ground"></div>
    <img src="../images/plant.png" class="plantImage">
</main>

<div id="bacteria">
    <div class="info">
        <h2>Bacteriën</h2>
        <p>Het water wat in de grond trekt wordt door de planten opgenomen.</p>
        <p>In de grond zitten speciale bacteriën die ammonia kunnen omzetten in extra voedingsstoffen voor de planten.</p>
        <a href="#collector">Lees meer</a>
    </div>

    <div class="drops gone">
        <img class="drop1" src="../images/drop.png">
        <img class="drop2" src="../images/drop.png">
        <img class="drop3" src="../images/drop.png">
        <img class="drop4" src="../images/drop.png">
    </div>
</div>

<div id="collector">
    <div class="info">
        <h2>Water</h2>
        <p>Wat overblijft is schoon water. Het schone water wordt opgevangen, en gaat terug naar de vissen.</p>
        <a href="#">Terug naar boven</a>
        <a href="tank">Terug naar vissen</a>
        <a href="final">Einde tour</a>
    </div>

</div>

<% include ../footer %>